<tr>
  <td><%= link_to standing.character.name, standing.character %></td>
  <td><%= standing.character.character_class.name if standing.character.character_class %></td>
  <% if current_user && current_user.admin? %>
    <td><%= link_to standing.character.guild.name, standing.character.guild if standing.character.guild %></td>
  <% else %>
    <td><%= standing.character.guild.name if standing.character.guild %></td>
  <% end %>
  <td><%= "#{standing.character.realm}-#{standing.character.region.upcase}" %></td>
  <td><%= standing.points || 0 %></td>
  <td><%= select_tag "participation[#{standing.character.slug}]", options_for_select(PARTICIPATION_STATUS_HASH,
                                                                                     params[:participation] ? params[:participation][standing.character.slug] : nil) %></td>
</tr>