<% provide(:title, 'Add Raid') %>
<h1>Add Raid</h1>

<div class="row">
  <%= form_for(@raid) do |f| %>
    <div class="col-md-3">

      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :zone %>
      <%= f.select :zone_id, Zone.where(zone_type: 'raid').order(:name).collect { |z| [z.name, z.id] }, {}, class: 'form-control' %>

      <%= f.label :started_at %>
      <%= f.datetime_local_field :started_at, value: @default_start, class: 'form-control' %>

      <%= f.label :ended_at %>
      <%= f.datetime_local_field :ended_at, value: @default_end, class: 'form-control' %>

      <%= f.submit "Add Raid", class: "btn btn-large btn-primary" %>
    </div>
    <div class="col-md-9">
      <% if records?(@standings) %>
        <table class="new-raid-standings table table-striped table-bordered table-white" id="new-raid-standings">
          <thead>
          <th>Name</th>
          <th>Realm</th>
          <th>Points</th>
          <th class="nosort">Online</th>
          <th class="nosort">In Raid</th>
          <th class="nosort">Unexcused</th>
          <th class="nosort" width="20%">Timestamp</th>
          <th class="nosort">Actions</th>
          </thead>
          <tbody>
          <% @standings.each do |standing| %>
            <%= render partial: 'raid_standing', object: standing, as: 'standing' %>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <%= render_no_records %>
      <% end %>
    </div>
  <% end %>
</div>