<% provide(:title, 'Add Raid') %>
<h1>Add Raid</h1>

<div class="row">
  <div class="span10 offset1">
    <%= form_for(@raid) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :zone %>
      <%= f.select :zone, Zone.where(zone_type: 'raid').order(:name).collect { |z| [z.name, z.id] } %>

      <%= f.label :started_at %>
      <%= f.text_field :started_at, value: @default_start ? @default_start : l(@raid.started_at) %>

      <%= f.label :ended_at %>
      <%= f.text_field :ended_at, value: @default_end ? @default_end : l(@raid.ended_at) %>

      <%= f.submit "Add Raid", class: "btn btn-large btn-primary" %>

      <% if records?(@standings) %>
        <table class="standings table table-striped table-bordered table-white">
          <thead>
            <td><%= check_box_tag 'select_all', 'select_all' %></td>
            <th>Name</th>
            <th>Realm</th>
            <th>Points</th>
            <th>Online</th>
            <th>In Raid</th>
            <th>Timestamp</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <% @standings.each do |standing| %>
              <%= render partial: 'raid_standing', object: standing, as: 'standing' %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <%= render_no_records %>
      <% end %>

    <% end %>

  </div>
</div>