<% provide(:title, 'Add Raid') %>
<h1>Add Raid</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@raid) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :zone %>
      <%= f.select :region, WOW_RAID_ZONES %>

      <%= f.label :realm %>
      <%= f.text_field :realm, placeholder: "Hyjal" %>

      <%= f.label :region %>
      <%= f.select :region, WOW_REGION_HASH %>

      <%= f.submit "Add Character", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>