<% provide(:title, "#{@raid.full_title}") %>
<div class="row">
  <div class="col-md-12">
    <h1 class="center">
      <%= "#{@raid.full_title}" %>
    </h1>

    <% if can? :manage, @raid %>
      <div class="col-md-3">
        <%= form_for(@raid) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.label :zone %>
          <%= f.select :zone_id, Zone.where(zone_type: 'raid').order(:name).collect { |z| [z.name, z.id] }, {}, class: 'form-control' %>

          <%= f.label :started_at %>
          <%= f.datetime_local_field :started_at, value: @start_time, class: 'form-control' %>

          <%= f.label :ended_at %>
          <%= f.datetime_local_field :ended_at, value: @end_time, class: 'form-control' %>

          <%= f.submit "Update", class: "btn btn-large btn-primary" %>
        <% end %>
        <%= link_to 'Delete Raid', @raid, method: :delete, data: { confirm: "Delete #{@raid.full_title}?" }, class: 'btn btn-danger full' %>
      </div>
    <% end %>

    <div class="col-md-<%= can?(:manage, @raid) ? '9' : '12' %>">
      <table class="raid-participation table table-striped table-bordered table-white" id="raid-participation-table" data-source="<%= raid_path(@raid, format: :json) %>">
        <thead>
          <th>Character</th>
          <th>Realm</th>
          <th>Online</th>
          <th>In Raid</th>
          <th>Timestamp</th>
          <th>Event</th>
          <% if can? :manage, Participation %>
            <th>Edit</th>
          <% end %>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>