<% provide(:title, "Edit guild") %>
<h1>Update guild</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@guild) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :realm %>
      <%= f.text_field :realm %>

      <%= f.label :region %>
      <%= f.select :region, WOW_REGION_HASH %>

      <%= f.label :active %>
      <%= f.check_box :active %>

      <%= f.label :primary %>
      <%= f.check_box :primary %>

      <%= label_tag 'Update from Battle.net?' %>
      <%= check_box_tag 'battle_net_update', 1 %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
    <%=  %>
  </div>
</div>