<% provide(:title, 'Add Guild') %>
<h1>Add Guild</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@guild) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Vox Immortalis" %>

      <%= f.label :realm %>
      <%= f.text_field :realm, placeholder: "Hyjal" %>

      <%= f.label :region %>
      <%= f.select :region, WOW_REGION_HASH %>

      <%= f.label :active %>
      <%= f.check_box :active %>

      <%= f.label :primary %>
      <%= f.check_box :primary %>

      <%= f.submit "Add Guild", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>