<% provide(:title, @guild.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= link_to @guild.name, edit_guild_path(@guild) %>
      </h1>
      <p>Realm: <%= @guild.realm %></p>
      <p>Region: <%= @guild.region.upcase %></p>
      <p>Achievement Points: <%= @guild.achievement_points %></p>
      <p>Battlegroup: <%= @guild.battlegroup %></p>
      <p>Level: <%= @guild.level %></p>
      <p>Side: <%= @guild.side %></p>
    </section>
  </aside>
</div>