<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-12">
    <% if Rails.env.development? %>
      <%= link_to "Ghost as #{@user.name}", ghost_user_path(@user) %>
    <% end %>
    <h1>
      <%= @user.name %>
    </h1>
    <h2><small>Characters</small></h2>
  </div>
  <div class="col-md-12">
    <% if @user.characters.size > 0 %>
      <table class="characters table table-striped table-bordered table-white" id="characters-claimed-table" data-source="<%= characters_path(format: :json, type: :claimed, user: @user) %>">
        <thead>
        <th>Name</th>
        <th>Class</th>
        <th>Guild</th>
        <th>Realm</th>
        <th>Raids</th>
        <th>Achievement Points</th>
        <th>Joined</th>
        <% if current_user && current_user == @user %>
          <th class="nosort">Edit</th>
        <% end %>
        </thead>
        <tbody>
        </tbody>
      </table>
    <% end %>
  </div>
  <% if @roles.size > 0 %>
    <div class="col-md-3">
      <h2><small>Roles</small></h2>
      <table class="table table-bordered">
        <thead>
          <th>Role</th>
          <th>Assigned</th>
        </thead>
        <% @roles.each do |role| %>
          <tr>
            <td>
              <%= "#{role.name.titleize}" %>
            </td>
            <td>
              <% if can?(:manage, role) && can?(:manage, @user) %>
                <%= link_to(@user.roles.include?(role) ? raw('Yes <span class="glyphicon glyphicon-edit"></span>') : raw('No <span class="glyphicon glyphicon-edit"></span>'), user_toggle_role_path(@user, role), method: 'post')  %>
              <% else %>
                <%= @user.roles.include?(role) ? 'Yes' : 'No' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>