<% provide(:title, @user.name) %>
<div class="row user-show">
  <div class="col-md-12">
    <h1>
      <%= @user.name %>
      <% if Rails.env.development? || can?(:manage, @user) %>
        <%= link_to(fa_icon("key", title: "Login as #{@user.name}", data: {toggle: 'tooltip'}), ghost_user_path(@user)) %>
      <% end %>
    </h1>
    <div class="joined">
      <%= fa_icon("clock-o", title: "Member for", data: {toggle: 'tooltip'}) %>
      <span class="time"><%= time_ago_in_words(@user.created_at, highest_measures: 2) %></span>
    </div>

    <% if can? :manage, @user %>

      <span class="clear"><!-- --></span>

      <div class="created_at">
        <%= form_for(@user) do |f| %>
          <%= best_in_place(@user, :created_at, as: :input, url: user_path(@user), display_with: lambda { |p| l(p) }) %>
          <%= fa_icon("question-circle", title: "Also updates Join Date for owned Characters ", data: {toggle: 'tooltip'}) %>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="col-md-12">

    <h2><small>Characters<%= " (#{@user.characters.size})" %></small></h2>
    <% if @user.characters.size > 0 %>
      <table class="characters table table-striped table-bordered table-white" id="characters-claimed-table" data-source="<%= characters_path(format: :json, type: :claimed, user: @user) %>">
        <thead>
        <th class="name-col">Name</th>
        <th class="class-col">Class</th>
        <th class="guild-col">Guild</th>
        <th class="realm-col">Realm</th>
        <th class="raids-col">Raids</th>
        <th class="achievement-points-col">Achievement Points</th>
        <th class="joined-col">Joined</th>
        <% if current_user && current_user == @user %>
          <th class="nosort edit-col">Edit</th>
        <% end %>
        </thead>
        <tbody>
        </tbody>
      </table>
    <% end %>
  </div>
  <% if @roles.size > 0 %>
    <div class="col-md-3">
      <h2><small>Roles</small></h2>
      <table class="table table-bordered">
        <thead>
          <th>Role</th>
          <th>Assigned</th>
        </thead>
        <% @roles.each do |role| %>
          <tr>
            <td>
              <%= "#{role.name.titleize}" %>
            </td>
            <td>
              <% if can?(:manage, role) && can?(:manage, @user) %>
                <%= link_to(@user.roles.include?(role) ? raw('Yes <span class="glyphicon glyphicon-edit"></span>') : raw('No <span class="glyphicon glyphicon-edit"></span>'), user_toggle_role_path(@user, role), method: 'post')  %>
              <% else %>
                <%= @user.roles.include?(role) ? 'Yes' : 'No' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>