<div class="raids module">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">RAIDS</div>
    <div class="col-md-6 group-left">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="name bold">Attended</span>
          <span class="value bold"><%= @standing_statistics.raids_attended_total %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Last 3 months</span>
          <span class="value"><%= @standing_statistics.raids_attended_three_month %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Last year</span>
          <span class="value"><%= @standing_statistics.raids_attended_year %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Lifetime %</span>
          <span class="value"><%= number_to_percentage(@standing_statistics.raids_attended_percent, precision: 2) %></span>
          <span class="clear"><!-- --></span>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="name bold">Delinquencies</span>
          <span class="value bold"><%= @standing_statistics.raids_delinquent_total %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Last 3 months</span>
          <span class="value"><%= @standing_statistics.raids_delinquent_three_month %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Last year</span>
          <span class="value"><%= @standing_statistics.raids_delinquent_year %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Lifetime %</span>
          <span class="value"><%= number_to_percentage(@standing_statistics.raids_delinquent_percent, precision: 2) %></span>
          <span class="clear"><!-- --></span>
        </li>
      </ul>
    </div>
    <div class="col-md-6 group-right">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="name bold">Sitting</span>
          <span class="value bold"><%= @standing_statistics.raids_sat_total %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Last 3 months</span>
          <span class="value"><%= @standing_statistics.raids_sat_three_month %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Last year</span>
          <span class="value"><%= @standing_statistics.raids_sat_year %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Lifetime %</span>
          <span class="value"><%= number_to_percentage(@standing_statistics.raids_sat_percent, precision: 2) %></span>
          <span class="clear"><!-- --></span>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="name bold">Absent</span>
          <span class="value bold"><%= @standing_statistics.raids_absent_total %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Last 3 months</span>
          <span class="value"><%= @standing_statistics.raids_absent_three_month %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Last year</span>
          <span class="value"><%= @standing_statistics.raids_absent_year %></span>
          <span class="clear"><!-- --></span>
        </li>
        <li class="list-group-item">
          <span class="name">Lifetime %</span>
          <span class="value"><%= number_to_percentage(@standing_statistics.raids_absent_percent, precision: 2) %></span>
          <span class="clear"><!-- --></span>
        </li>
      </ul>
    </div>
  </div>
</div>