<div class="vcp module">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">VCP</div>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="name bold">Gains</span>
        <span class="value bold"><%= format_points @standing_statistics.gains_total %></span>
        <span class="clear"><!-- --></span>
      </li>
      <li class="list-group-item">
        <span class="name">Sitting</span>
        <span class="value"><%= format_points @standing_statistics.gains_sitting %></span>
        <span class="clear"><!-- --></span>
      </li>
      <li class="list-group-item">
        <span class="name">Delinquency</span>
        <span class="value"><%= format_points @standing_statistics.gains_delinquency %></span>
        <span class="clear"><!-- --></span>
      </li>
      <li class="list-group-item">
        <span class="name">Infraction</span>
        <span class="value"><%= format_points @standing_statistics.gains_infraction %></span>
        <span class="clear"><!-- --></span>
      </li>
      <li class="list-group-item">
        <span class="name">Initial/Resume/Retire</span>
        <span class="value"><%= format_points(@standing_statistics.gains_initial + @standing_statistics.gains_resume + @standing_statistics.gains_retire) %></span>
        <span class="clear"><!-- --></span>
      </li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="name bold">Losses</span>
        <span class="value bold"><%= format_points @standing_statistics.losses_total %></span>
        <span class="clear"><!-- --></span>
      </li>
      <li class="list-group-item">
        <span class="name">Attendance</span>
        <span class="value"><%= format_points @standing_statistics.losses_attendance %></span>
        <span class="clear"><!-- --></span>
      </li>
      <li class="list-group-item">
        <span class="name">Absence</span>
        <span class="value"><%= format_points @standing_statistics.losses_absence %></span>
        <span class="clear"><!-- --></span>
      </li>
      <li class="list-group-item">
        <span class="name">Delinquency</span>
        <span class="value"><%= format_points @standing_statistics.losses_delinquency %></span>
        <span class="clear"><!-- --></span>
      </li>
      <li class="list-group-item">
        <span class="name">Infraction</span>
        <span class="value"><%= format_points @standing_statistics.losses_infraction %></span>
        <span class="clear"><!-- --></span>
      </li>
      <li class="list-group-item">
        <span class="name">Initial/Resume/Retire</span>
        <span class="value"><%= format_points(@standing_statistics.losses_initial + @standing_statistics.losses_resume + @standing_statistics.losses_retire) %></span>
        <span class="clear"><!-- --></span>
      </li>
    </ul>
  </div>
</div>