<% provide(:title, 'Settings') %>
<h1>Settings</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@setting) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :guild %>
      <%= f.text_field :guild %>

      <%= f.label :realm %>
      <%= f.text_field :realm %>

      <%= f.label :locale %>
      <%= f.text_field :locale %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
