<% provide(:title, 'Settings') %>
<h1>Settings</h1>

<div class="row">
  <div class="col-md-3">
    <%= form_for(@setting) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :raid_start_time %>
      <%= f.text_field :raid_start_time, class: 'form-control' %>

      <%= f.label :raid_end_time %>
      <%= f.text_field :raid_end_time, class: 'form-control' %>

      <%= f.label :tardiness_cutoff_time %>
      <%= f.text_field :tardiness_cutoff_time, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
