<tr>
  <td><%= link_to character.name, character %></td>
  <td><%= character.character_class.name if character.character_class %></td>
  <td><%= character.race.name if character.race %></td>
  <td><%= character.level %></td>
  <td><%= character.achievement_points %></td>
  <td><%= link_to character.guild.name, character.guild if character.guild %></td>
  <td><%= "#{character.realm}-#{character.region.upcase}" %></td>
  <td><%= l character.created_at %></td>
  <td><%= character.raids.distinct.size if character.raids.distinct.size > 0 %></td>
  <% if @current_user && @current_user == character.user %>
    <td>
      <%= render 'character_edit', character: character %>
    </td>
  <% end %>
</tr>