<% provide(:title, "Edit character") %>
<div class="row">
  <div class="col-md-12">
    <h1>Edit Character</h1>
  </div>
  <div class="col-md-4">
    <%= form_for(@character, role: 'form') do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :realm %>
        <%= f.text_field :realm, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :region %>
        <%= f.select :region, WOW_REGION_HASH, {}, class: 'form-control' %>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    <% end %>
  </div>
</div>