<% provide(:title, @character.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= link_to @character.name, edit_character_path(@character), id: 'character-name' %>
      </h1>
      <p>Achievement Points: <%= @character.achievement_points %></p>
      <p>Verified: <%= @character.verified? ? 'Yes' : 'No' %></p>
      <p>
        Last Synced: <%= @character.synced_at ? "#{distance_of_time_in_words_to_now(@character.synced_at, include_sections: true).camelize} ago" : 'Never' %>
        <%= link_to 'Sync', sync_character_path(@character) if @owned_character %>
      </p>
      <p>
        Claimed: <%= @owned_character ? 'Yes' : 'No' %>
        <%= link_to 'Unclaim', unclaim_character_path(@character), method: :post, data: { confirm: 'You sure?' } if @owned_character %>
      </p>
      <% if @character.has_standing? %>
        <p>VCP: <%= @character.standing.points || 0 %></p>
      <% else %>
        <% if admin_signed_in? %>
          <%= button_to 'Add to VCP', standings_path(standing: {character: @character}), :method => :post %>
        <% end %>
      <% end %>
    </section>
  </aside>
  <% if !@owned_character && current_user %>
    <div class="span6 offset3">
      <%= label_tag :api_key, 'API Key:' %>
      <%= text_field_tag :api_key, current_user.secret_key %>
      <%= button_tag 'Copy', class: 'btn', id: 'api_key_copy_button', data: { clipboard_target: :api_key }, 'original-title' => 'Click to Copy' %>
      <%= form_tag do %>
        <%= label_tag :key, "Claim Key:" %>
        <%= text_field_tag :key, @generated_key if Rails.env.development? %>
        <%= submit_tag('Claim') %>
      <% end %>
    </div>
  <% end %>
</div>