<% provide(:title, @character.name) %>
<div class="character row">
  <div class="character-info col-md-6">
    <div class="avatar">
      <%= image_tag @character.avatar.url %>
    </div>
    <div class="name-realm-guild">
      <div class="name">
        <span>
          <%= link_to @character.name, @character.battle_net_profile, id: 'character-name' %>
        </span>
      </div>
      <div class="realm">
        <%= "#{@character.realm}-#{@character.region.upcase}" %>
      </div>
      <% if @character.guild %>
        <div class="guild">
          <%= @character.guild.name %>
        </div>
      <% end %>
    </div>

    <span class="clear"><!-- --></span>

    <div class="level-race-class <%= @character.character_class ? @character.character_class.short_name : '' %>">
      <span class="level">
        <%= @character.level %>
      </span>
      <% if @character.race %>
        <span class="race">
          <%= @character.race.name.titleize %>
        </span>
      <% end %>
      <% if @character.character_class %>
        <span class="class">
          <%= @character.character_class.name.titleize %>
        </span>
      <% end %>
    </div>

    <span class="clear"><!-- --></span>

    <div class="achievement-points">
      <span title="Achievement Points" data-toggle="tooltip">
        <%= fa_icon "shield", text: number_with_delimiter(@character.achievement_points) %>
      </span>
      <% if @character.verified? %>
        <span class="green" title="Verified" data-toggle="tooltip">
          <%= fa_icon "check-circle" %>
        </span>
      <% else %>
        <span class="red" title="Unverified" data-toggle="tooltip">
          <%= fa_icon "question-circle" %>
        </span>
      <% end %>
      <% if @owned_character || can?(:update, @character) %>
        <%= link_to(fa_icon("refresh"), sync_character_path(@character), method: :post, title: "Refresh from Battle.net", data: {toggle: 'tooltip'}) %>
      <% end %>
      <% if can? :manage, @character %>
        <%= link_to(fa_icon("edit"), edit_character_path(@character), title: "Edit #{@character.full_title}", data: {toggle: 'tooltip'}, class: 'edit') %>
      <% end %>
    </div>
  </div>

  <div class="character-data col-md-6">
    <% if @character.standing %>
        <div class="points">
          <span><%= format_points(@character.standing.points)%></span>
          <%= fa_icon("rub", title: "Points", data: {toggle: 'tooltip'}) %>
        </div>

        <span class="clear"><!-- --></span>

    <% end %>

    <div class="joined">
      <span class="joined-label">Member for</span>
      <span class="time"><%= time_ago_in_words(@character.created_at, highest_measures: 2) %></span>
    </div>

    <% if can? :manage, @character %>

      <span class="clear"><!-- --></span>

      <div class="created_at">
        <%= best_in_place(@character, :created_at, as: :input, url: character_path(@character), display_with: lambda { |p| l(p) }) %>
      </div>
    <% end %>

    <% if @character.user %>

      <span class="clear"><!-- --></span>

      <div class="owner">
        <%= link_to(@character.user.name, @character.user) %>
        <%= fa_icon("user", title: "Owner", data: {toggle: 'tooltip'}) %>
      </div>
    <% end %>
  </div>

  <span class="clear"><!-- --></span>

  <% if @character.standing && @character.standing.standing_statistic %>
    <div class="col-md-4">
      <%= render 'modules/vcp_module' %>
    </div>
    <div class="col-md-8">
      <%= render 'modules/raids_module' %>
    </div>
  <% end %>

  <span class="clear"><!-- --></span>

  <div class="col-md-12">
    <% if @character.standing %>
      <table class="character-history table table-striped table-bordered table-white" id="character-history-table" data-source="<%= character_history_path(format: :json) %>">
        <thead>
        <th>Raid</th>
        <th>Date</th>
        <th width="20%">Status</th>
        <th>Change</th>
        <th class="nosort">Total Points</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    <% end %>
  </div>
</div>