<% provide(:title, @character.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= link_to @character.name, edit_character_path(@character) %>
      </h1>
      <p>Achievement Points: <%= @character.achievement_points %></p>
      <p>Verified: <%= @character.verified? ? 'Yes' : 'No' %></p>
      <p>
        Last Synced: <%= @character.synced_at ? "#{distance_of_time_in_words_to_now(@character.synced_at, include_sections: true).camelize} ago" : 'Never' %>
        <%= link_to 'Sync', sync_character_path(@character) if @owned_character %>
      </p>
      <p>
        Claimed: <%= @owned_character ? 'Yes' : 'No' %>
        <%= link_to "Unclaim", unclaim_character_path(@character), method: :post, data: { confirm: "You sure?" } if @owned_character %>
      </p>
    </section>
  </aside>
  <% if !@owned_character && current_user %>
    <div class="span6 offset3">
      <p>API Key: <%= current_user.secret_key %></p>
      <%= form_tag do %>
        <%= label_tag(:key, "Claim Key:") %>
        <%= text_field_tag :key, @generated_key if Rails.env.development? %>
        <%= submit_tag('Claim') %>
      <% end %>
    </div>
  <% end %>
</div>