<tr>
  <td><%= zone.name %></td>
  <td><%= zone.zone_type.titleize %></td>
  <td><%= zone.level %></td>
  <td><%= zone.blizzard_id %></td>
  <% if can? :update, zone %>
    <td>
      <%= render 'zone_edit', zone: zone %>
    </td>
  <% end %>
</tr>