<%= form_for(@zone) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :zone_type, 'Type' %>
    <%= f.select :zone_type, WOW_ZONE_TYPE_HASH, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :level %>
    <%= f.text_field :level, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :blizzard_id, 'Blizzard ID' %>
    <%= f.text_field :blizzard_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <button class="btn btn-large btn-primary">Add Zone</button>
  </div>
<% end %>